.heading {
  background: -webkit-linear-gradient(#a18cd1, #fbc2eb);
  background-clip: text;
  font-size: 35px;
  font-weight: bold;
  padding: 20px 0 20px 0px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.main-board {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
  height: 70vh;
  width: 70vw;
}

.board-layout {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(2, 6rem);
  gap: 15px;
}

.board-cell {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.34);
  color: violet;
  display: flex;
  font-size: 50px;
  font-weight: 600;
  justify-content: center;
}

.board-cell:active {
  background-color: #e8e8e8;
}

.modal-popup {
  text-align: center;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px 0 10px 15px;
}

.modal-body {
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  padding: 15px;
}

.restart-button {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px auto 30px;
  padding: 5px;
  text-align: center;
  width: 50%;
}

.start-message {
  background: -webkit-linear-gradient(#8d73c9, #c195b4);
  background-clip: text;
  display: flex;
  flex-direction: column;
  font-size: 130%;
  font-weight: 700;
  height: 80px;
  gap: 1em;
  margin: 10px 0 40px 0;
  -webkit-text-fill-color: transparent;
}

.start-button {
  background-image: linear-gradient(
    to right,
    #2eb62c 0%,
    #57c84d 51%,
    #83d475 100%
  );
  height: 35px;
  margin: 40px auto 30px;
  width: 40%;
}

.label-message {
  font-size: 120%;
  font-weight: 500;
  margin: 0 20px 0 0;
}

.profile-card {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.34);
  padding: 20px;
}

.profile-image {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 70px;
  margin: 0 0 10px 0;
  width: 70px;
}

.profile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-name {
  background: -webkit-linear-gradient(#8d73c9, #c195b4);
  background-clip: text;
  font-size: 130%;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

.player-score {
  background: -webkit-linear-gradient(#8d73c9, #c195b4);
  background-clip: text;
  font-size: 120%;
  font-weight: 600;
  margin-top: 10px;
  -webkit-text-fill-color: transparent;
}

.result-buttons {
  display: flex;
}

.play-again-button {
  background-image: linear-gradient(
    to right,
    #2eb62c 0%,
    #57c84d 51%,
    #83d475 100%
  );
  height: 35px;
  width: 40%;
}
